<div class="container mx-auto">
<section class="flex justify-between font-HelveticaNeueCyr font-[550] text-[32px] leading-snug mb-[10px]">
    <h2>Cart</h2>
    <div class="text-[16px]">
      <div class="mb-[10px]">
        <label>
          Limit:
          <input class="cartLimitQuery border-2 rounded-xl text-center border-black h-[21px] w-[73px]" type="number" name="limit" value="{{limitValue}}" min="1" max="{{countOfItems}}">
        </label>
      </div>
      <div class="flex">
        <p>Page:&nbsp;</p>
        <button class="cartPageMinusBtn w-[21px] h-21px border-2 rounded-[5px] border-black mr-[10px] hover:bg-black hover:text-white hover:transition"><</button>
        <p class="mr-[10px] cartPageQuery">{{pageValue}}</p>
        <button class="cartPagePlusBtn w-[21px] h-21px border-2 rounded-[5px] border-black hover:bg-black hover:text-white hover:transition">></button>
      </div>
    </div>
  </section>
  <div class="flex justify-between max-[900px]:flex-wrap">
    <div class="CartContainerWithItem w-[70%] max-[900px]:w-[100%]">
      {{#each arrayOfArticles}}
        <div class="cartItem w-[95%] border-transparent mb-4 font-HelveticaNeueCyr max-[900px]:w-full" data-article="{{this.article}}" data-price="{{this.price}}">
          <div class="flex items-center justify-between p-[20px] max-[900px]:p-0">
            <div>
              <p class="cartItemIndex">{{@index}}</p>
            </div>
            <img class="object-contain cursor-pointer max-h-[100px]" src="{{this.images.[0]}}&fit=constrain" alt="">
            <div class="flex w-[80%] justify-between max-[1023px]:flex-wrap max-[1023px]:justify-around">
              <div class="w-[250px] max-[1023px]:w-full max-[1023px]:mb-[10px]">
                <h3 class="jont-HelveticaNeueCyr cursor-pointer font-[550] text-[16px] leading-snug text-center max-[768px]:text-[15px]">{{this.title}}</h3>
              </div>
              <div class="text-center">
                <p>Category:</p>
                <p>{{this.category}}</p>
              </div>
              <div class="countContainer flex flex-col items-center w-[100px] max-[1023px]:flex-wrap max-[1023px]:w-unset max-[768px]:text-[13px]">
                <div>
                  <p>In stock: <span class="inStockCount">{{this.stock}}</span></p>
                </div>
                <div class="flex items-center">
                  <button type="button" class="mr-[5px] p-[5px] hover:scale-[1.75] hover:transition" data-action="minus">-</button>
                  <p class="countNumber w-[50px] inline-block text-center">{{this.count}}</p>
                  <button type="button" class="p-[5px] hover:scale-[1.75] hover:transition" data-action="plus">+</button>
                </div>
              </div>
              <div class="w-[70px] text-center">
                <p><span class="cartItemPrice">{{this.price}}</span>₽</p>
              </div>
            </div>
            <button class="cartDeleteBtn self-start cursor-pointer group" data-button="delete">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 group-hover:rotate-90 group-hover:transition">
                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
        </div>
      {{/each}}
    </div>
    <div class="cartOrderInformation w-[25%] font-HelveticaNeueCyr max-[900px]:w-[100%]">
      <h3 class="text-[32px] mb-[10px] max-[900px]:text-center">About order</h3>
      <div class="flex justify-between mb-[10px]">
        <input type="text" name="promocode" placeholder="Enter promocode" class="promocodeInput text-center border-2 rounded-xl border-black w-[70%]">
        <button type="button" class="enterPromocode px-[10px] py-[5px] border-2 border-black outline-none hover:bg-black hover:text-white hover:transition">Apply</button>
      </div>
      <div class="text-center text-[12px]">
        <p>Try: RS, NEW10, REF15</p>
      </div>
      <div class="flex justify-between mb-[10px]">
        <p class="">Products: <span class="itemsCount">{{countOfItems}}</span></p>
        <p class=""><span class="totalPriceCart">{{totalPrice}}</span>₽</p>
      </div>
      <div class="totalDiscount flex justify-between mb-[10px]">
        <p>Discount</p>
        <p class="text-red-600">-<span class="cartDiscount">0</span>₽</p>
      </div>
      <div class="flex justify-between mb-[10px]">
        <p>Total</p>
        <p class="text-[32px]"><span class="priceCart">{{totalPrice}}</span>₽</p>
      </div>
      <button class="buyButton text-center w-full text-[24px] border-2 border-black hover:bg-black hover:text-white hover:transition">Buy now</button>
    </div>
  </div>
</div>
<section class="modalBlock w-screen h-screen bg-black/60 flex justify-center items-center absolute top-0 left-[-200%] transition-all">
  <div class="w-1/2 border-2 border-black rounded-2xl bg-white flex justify-center max-[1200px]:w-[90%]">
    <form class="modalForm">
      <div class="modalGrid w-[100%] font-HelveticaNeueCyr justify-between text-center">
        <h2 class="modalHead mt-[10px] text-[24px] font-bold">Personal details</h2>
        <label class="modalNameLabel" for="name">Firstname and lastname: </label>
        <input class="modalNameInput text-center border-2 rounded-xl max-[480px]:w-[95%]" type="text" placeholder="Length of words > 3" name="name" id="name" pattern='[A-z]{3,}[ ][A-z]{3,}' autocomplete="off" required>
        <label class="modalPhoneLabel" for="number">Phone number: </label>
        <input class="modalPhoneInput text-center border-2 rounded-xl max-[480px]:w-[95%]" type="tel" placeholder="+XXXXXXXXX" name="number" id="number" pattern="[+][0-9]{9,12}" autocomplete="off" required>
        <label class="modalAddressLabel" for="address">Delivery address: </label>
        <input class="modalAddressInput text-center border-2 rounded-xl max-[480px]:w-[95%]" type="text" placeholder="Delivery address" name="address" id="address" autocomplete="off" required>
        <label class="modalEmailLabel" for="email">Email: </label>
        <input class="modalEmailInput text-center border-2 rounded-xl max-[480px]:w-[95%]" type="email" name="email" id="email" placeholder="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" autocomplete="off" required>
        <h2 class="modalCardHead">Credit card details</h2>
        <div class="cardInformation">
          <div class="flex justify-center mb-[10px] max-[560px]:flex-wrap">
            <div class="systemsSprite h-[28px] w-[44px] border-2 border-black mr-[5px]">
            </div>
            <label for="cardNumber">Card number: </label>
            <input class="cardNumber text-center border-2 rounded-xl w-[300px] max-[560px]:w-full max-[560px]:mt-[10px] max-[480px]:w-[95%]" placeholder="XXXXXXXXXXXXXXXX" type="number" name="cardNumber" id="cardNumber" required>
          </div>
          <div class="flex justify-center max-[560px]:flex-wrap">
            <label for="validNumber">Valid: </label>
            <input class='cardData text-center border-2 rounded-xl max-[560px]:w-full max-[480px]:w-[95%]' placeholder="XX/XX" type="text" name="validNumber" id="validNumber" required>
            <label for="CVV">CVV: </label>
            <input class='modalCvvInput text-center border-2 rounded-xl max-[560px]:w-full max-[480px]:w-[95%]' type="number" placeholder="CVV" name="CVV" id="CVV" required>
          </div>
        </div>
        <button class="modalSubmitButton border-2 border-black rounded-xl w-[100px] justify-self-center mb-[10px] hover:bg-black hover:text-white hover:transition" type="submit">Submit</button>
      </div>
    </form>
  </div>
</section>
