<div class="max-w-[1200px] mx-auto my-0 box-border flex justify-between">
  <div class="w-1/2">
    <img class='main-photo w-full mb-4' src="{{photo1}}" alt="Photo2">
    <img class='main-photo w-full mb-4' src="{{photo2}}" alt="Photo2">
    <img class='main-photo w-full mb-4' src="{{photo3}}" alt="Photo2">
    <img class='main-photo w-full mb-4' src="{{photo4}}" alt="Photo2">
  </div>
  <div class="w-1/2">
    <div class="flex items-center justify-between mb-[10px]">
      <h2 class="font-HelveticaNeueCyr font-[550] text-[32px] leading-snug">{{name}}</h2>
      <p class="font-HelveticaNeueCyr font-normal text-[16px] text-gray-300">Article: <span>{{article}}</span></p>
    </div>
    <p class="font-HelveticaNeueCyr font-[550] text-[24px] leading-snug mb-[20px]">
      <span>{{price}}</span>
      ₽
    </p>
    <div class="mb-4">
      <p class="mr-4 font-HelveticaNeueCyr font-normal text-[16px] leading-[1.1] mb-4">Categoty: {{category}}</p>
      <p class="mr-4 font-HelveticaNeueCyr font-normal text-[16px] leading-[1.1] mb-4">Brand: {{brand}}</p>
      <p class="mr-4 font-HelveticaNeueCyr font-normal text-[16px] leading-[1.1] mb-4">Stock: {{stock}}</p>
      <p class="mr-4 font-HelveticaNeueCyr font-normal text-[16px] leading-[1.1] mb-4">Last updated: {{updateAt}}</p>
    </div>
    <div class="flex justify-between items-center mb-[60px]">
      <button type="button" class="w-full h-[53px] bg-black flex items-center justify-center text-white font-Arial font-normal text-[16px] leading-snug">
        Add to cart
      </button>
    </div>
    <div class="drop-menu h-[68px] overflow-hidden border-t-[1px] border-b-[1px] border-gray-300">
      <div class="cursor-pointer  pt-[20px] pb-[20px]">
        <div class="flex justify-between items-center mb-[10px]">
          <h3 class="font-HelveticaNeueCyr text-[20px] font-[550] leading-snug">Product description</h3>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-18 h-8 svg">
            <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
          </svg>
        </div>
        <p>{{description}}</p>
      </div>
    </div>
  </div>
</div>
